@import url('https://fonts.googleapis.com/css2?family=Playwrite+SK:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+SK:wght@100..400&family=Playwrite+US+Trad:wght@100..400&display=swap');


body {
    background-color: #000;
    background-image: url(images/output-onlinegiftools.gif);
    background-size: cover; /* Ensures the background covers the entire area */
    background-position: center; /* Centers the background image */
    background-repeat: repeat-y;
    height: 100vh; /* Ensures the body covers the full viewport height */
    color: #ffffff;
}

.terminal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}

.bottom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}

.bottom, .bottom a {
    color: rgba(255, 255, 255, 0.5); /* Sets text color to white */
    text-decoration: none; /* Removes underline from text */
}

.bottom:hover, .bottom a:hover {
    color: rgba(255, 255, 255, 0.5); /* Keeps text color white on hover */
    text-decoration: none;
}

#terminal p {
    margin: 0;
}

.button-container {
    display: grid;
    grid-gap: 20px; /* Space between buttons */
    padding: 50px; /* Padding around the grid */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjusts number of columns based on available space */
}

.see-more-button {
    display: block; /* Changed from inline-block to block */
    margin: 10px auto; /* Top and bottom margins remain 10px, left and right margins set to auto */
    padding: 5px 10px; /* Smaller padding */
    background-color: #333; /* Dark background for visibility */
    color: #fff; /* White text */
    text-decoration: none; /* Remove underline from links */
    font-size: 14px;
    border-radius: 5px; /* Less rounded corners */
    transition: background-color 0.3s; /* Smooth background color transition on hover */
    width: fit-content; /* Ensures the width is just enough to fit its content */
}

@keyframes colorCycle {
    0% { color: #ffadad; }
    12.5% { color: #ffd6a5; }
    25% { color: #fdffb6; }
    37.5% { color: #caffbf; }
    50% { color: #9bf6ff; }
    62.5% { color: #a0c4ff; }
    75% { color: #bdb2ff; }
    87.5% { color: #ffc6ff; }
    100% { color: #ffadad; }
}

.colored {
  animation: colorCycle 20s infinite linear;
}

/* vvv This is the part for the COMPLETED text vvv */

@keyframes rainbowCycle {
    0%, 100% { color: #ffadad; }
    12.5% { color: #ffd6a5; }
    25% { color: #fdffb6; }
    37.5% { color: #caffbf; }
    50% { color: #9bf6ff; }
    62.5% { color: #a0c4ff; }
    75% { color: #bdb2ff; }
    87.5% { color: #ffc6ff; }
  }
  
  /* Apply the animation to each class */
  [class^="rainbow-"] {
    animation: rainbowCycle 10s infinite linear;
  }
  
  /* Initial colors for each letter */
  .rainbow-0 { color: #ffadad; }
  .rainbow-1 { color: #ffd6a5; }
  .rainbow-2 { color: #fdffb6; }
  .rainbow-3 { color: #caffbf; }
  .rainbow-4 { color: #9bf6ff; }
  .rainbow-5 { color: #a0c4ff; }
  .rainbow-6 { color: #bdb2ff; }
  .rainbow-7 { color: #ffc6ff; }


.see-more-button:hover {
    background-color: #555; /* Darker background on hover */
    color: #fff;
}

#particle-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.particle {
    position: absolute;
    bottom: 0;
    background-color: #fff;
    width: 5px;
    height: 5px;
    opacity: 1;
    border-radius: 50%;
}

@keyframes move-up-fade {
    0% {
        bottom: 0;
        opacity: 1;
    }
    100% {
        bottom: 100%;
        opacity: 0;
    }
}

.languages {
    font-family: "Playwrite US Trad", cursive   
}

.greet {
    font-family: "Playwrite US Trad", cursive;
}

.project-div {
    width: 100%; /* Each button fills its cell */
    padding: 30px 20px; /* Increase vertical padding */
    border-radius: 10px; /* Adds rounded corners */
    transition: transform 0.4s ease, background-color 0.4s ease; /* Smooth transition for hover effects and background color */
    color: #fff;
    font-size: 35px;
    background-color: rgba(0,0,0,0.5); /* Ensures background is fully black */
    border: none; /* Removes any default border */
    display: flex; /* Makes .project-div a flex container */
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Centers children vertically */
    text-align: center; /* Centers the text inside the .project-div */
    height: 20%; /* Ensure it fills the container vertically */
}

.project-div:hover {
    transform: scale(1.02); /* Slightly increase size on hover */
}

.project-description {
    font-size: 18px;
    font-weight: 300;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.project-button:hover {
    transform: scale(1.02)
}


/* Optional: Adjust padding for smaller screens */
@media (max-width: 600px) {
    .button-container {
        padding: 20px;
    }
}

.navbar-custom {
    background-color: rgba(0,0,0,0.4); /* Custom black background for navbar */
}


.nav-link {
    animation: fade-in 2s ease-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
h1 {
    font-size: 70px;
}

.fira-code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.custom-btn {
    background-color: black;
    color: white;
    padding: 5px 20px;
    font-size: 20px; /* Adjust the size of the button text */
    border: none;
    cursor: pointer;
    display: block;
    margin: 20px auto; /* Center the button */
    border-radius: 6000px; /* Rounded corners */
    transition: background-color 0.5s ease; /* Fade effect for background color */
}

.custom-btn .plus {
    font-size: 32px; /* Make the plus sign larger */
}

.custom-btn:hover {
    background-color: #111; /* Slightly lighter black on hover */
}

.custom-btn:focus {
    outline: none; /* Example: Change to a more subtle outline */
}

/* For the whole page */
body::-webkit-scrollbar {
    width: 12px; /* Scrollbar width */
}

body::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
}

body::-webkit-scrollbar-thumb {
    background: black; /* Thumb color */
}

body::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb hover color */
}

.separator {
    height: 2px;
    width: 100%;
    position: relative;
}

.separator::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, transparent, #111 15%, #111 85%, transparent);
}
